
<div id="contenedor" *ngIf="permitirFormulario">
  <h3>Deja tu valoración</h3>
  <form [formGroup]="valoracionForm" (ngSubmit)="onSubmit()">
        <mat-form-field  id="select">
          <mat-label>Deja tu puntuación</mat-label>
          <mat-select formControlName="puntuacion" disableRipple>
            <mat-option value="0">0</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cuéntanos tu opinión</mat-label>
          <textarea matInput formControlName="valoracion">...</textarea>
        </mat-form-field>
    
      <button mat-raised-button color="primary" type="submit" [disabled]="valoracionForm.invalid">Enviar valoración</button>
  </form>
</div>