form{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items: center;
}

form button{
    width:20%;
    margin-top:1.75%;

}

#contenedor{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    
}

#contenedor div{
    display:flex;
    flex-direction:column;
    width:30%;

}


h2{
    text-align:center;
    margin-top:3%;
    margin-bottom:3%;

}

mat-form-field {
    width:250px;
}

#botones{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:35%;
    
}

#botones button{
    padding:20px;
    width:40%;
}