
<h2>Iniciar sesión</h2>
<form (ngSubmit)="login()" [formGroup]="loginForm">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" placeholder="Ingrese su email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput formControlName="contrasenia" type="password" placeholder="Ingrese su contraseña">
  </mat-form-field>
    
  <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
</form>
